/*! header start */
header {
  border-bottom: 1px solid #dee0ea;
}
.global-notification {
  background-color: #f66969;
  padding: 14px 0;
  text-align: center;
  font-size: 12px;
  color: white;
}
.global-notification a {
  color: white;
  font-weight: 700;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mobile {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.header-left .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}
.header-left .logo img {
  width: 50px;
}
.header-center .navigation .menu-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header-center .bi-x-circle {
  display: none;
}
.header-center .menu-list .menu-list-item {
  display: flex;
  align-items: center;

  position: relative;
  height: 90px;
}
.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.header-center .menu-list i {
  font-size: 12px;
}
.header-center .menu-list .link-color {
  color: #f66969;
}

.header-right .header-right-links {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.header-right .bi-person {
  font-size: 21px;
}
.header-right .toggle-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header-right i {
  font-size: 15px;
  display: flex;
}
.header-right .header-cart {
  position: relative;
}
.header-right .header-cart-link .header-cart-count {
  width: 16px;
  height: 16px;
  background-color: #f66969;
  border-radius: 5rem;
  color: white;
  font-size: 11px;
  position: absolute;
  top: -10px;
  right: -8px;
  text-align: center;
  font-weight: 500;
}

/*? menu dropdown start */
header .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -140px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 10;
}
.menu-dropdown-mega-menu {
  background-color: white;
  border: 1px solid #dee0ea;
  padding: 22px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 500px;
}
.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}
.megamenu-wrapper .megamenu-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.megamenu-wrapper .megamenu-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.megamenu-wrapper .megamenu-menu-list a {
  font-size: 15px;
  color: #7a7a7a !important;
}
.megamenu-wrapper .megamenu-products-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.menu-dropdown-menu {
  background-color: white;
  border: 1px solid #dee0ea;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 700px;
}

.menu-dropdown-wrapper .dropdown-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.menu-dropdown-wrapper .dropdown-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.menu-dropdown-wrapper .dropdown-menu-list a {
  font-size: 15px;
  color: #646464 !important;
}
.menu-dropdown-wrapper .dropdown-products-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.menu-dropdown-wrapper .dropdown-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-dropdown-wrapper .dropdown-single a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-dropdown-wrapper .dropdown-single img {
  width: 351px;
  height: 200px;
  object-fit: cover;
}
.dropdown-single-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}
.menu-dropdown-wrapper .dropdown-single-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.menu-dropdown-wrapper .dropdown-single-subtitle {
  font-size: 15px;
}
.menu-dropdown-wrapper .dropdown-single-button {
  padding: 10px 12px;
  border: 1px solid #191919;
  margin-top: 10px;
  font-size: 15px;
}

/*? menu dropdown end */

/*! header end */

/* header responsive */
@media (max-width: 680px) {
  .header-center {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid #dee0ea;
    z-index: 2;
    transition: 0.5s ease all;
  }
  .header-center .bi-x-circle {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .header-center .menu-list {
    flex-direction: column;

    padding: 50px 75px;
  }
  .header-mobile {
    display: inline-block;
  }
  header .menu-dropdown-wrapper {
    display: none;
  }
  header .menu-list i {
    display: none;
  }
  header .menu-list-item a {
    font-size: 16px !important;
  }
}
